spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://wejump.cglhadxlzhnk.ap-northeast-2.rds.amazonaws.com:3306/innodb
    username:
    password:
  jpa:
    hibernate:
      database-platform: org.hibernate.dialect.MariaDB103Dialect
      ddl-auto: none
    show_sql: true
  profiles:
    include: oauth
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
file:
  upload:
    path: var/photo
